{% extends "base.html" %}
{% block design %}
            
{% endblock design %}
{% block content %}

<title>Publlic Forum</title>
<center>
    <h1>Public Forum</h1>
    <h3><a style="text-decoration:none" href="community/create">Create a New Post</a></h3>
    {% for post in community_chat %}
    <div class="container mt-4 p-4">
        <div class="row">
          <div class='community_chat'>
              <ul class="list-group">

                <a href="{% url 'view-mymessages' post.slug %}" style="text-decoration: none;"><li class="list-group-item">{{post}}</li></a>

              </ul>
    {% endfor %}
</center>






{% endblock content %}
