{% extends 'base.html' %}

{% block content %}
    <style>
        .best-container {
            width: 100%;
            max-width: 800px;
            background-color: #2c2c2c;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
            margin: 0 auto;
        }

        h2 {
            font-size: 36px;
            color: darkturquoise;
            margin-bottom: 20px;
            text-align: center;
        }

        .personal-best-item {
            background-color: #3a3a3a;
            margin: 10px 0;
            padding: 15px;
            border-radius: 5px;
            font-size: 20px;
            color: #00e6e6;
            border: 1px solid #00e6e6;
            transition: transform 0.3s ease;
            display: flex;
            justify-content: center; /* Center the time */
            align-items: center;
        }

        .personal-best-item:hover {
            background-color: #00e6e6;
            color: #333;
            transform: translateY(-5px);
        }

        .time {
            font-weight: 600;
            font-size: 20px;
        }
    </style>

    <div class="best-container">
        <h2>Personal Bests</h2>
        {% for entry in entries %}
        <div class="personal-best-item">
            <span class="time">{{ entry.duration.total_seconds|floatformat:2 }} seconds</span> <!-- Display only the time -->
        </div>
        {% empty %}
        <div class="personal-best-item">
            <span>No entries found.</span>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
